footer {
  background: var(--color-bg);
  padding: 3rem 0;
  text-align: center;
  font-size: 1.25rem;
  border-top: 1px solid var(--color-primary);
}

.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;

  align-items: center;
}

.footer__socials a {
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.footer__socials a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

.contact__container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 600px) {
  footer {
    margin-bottom: 3rem;
  }
  .contact__container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .footer__contact {
    gap: 0.5rem;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .footer__links {
    flex-direction: column-reverse;
    margin-top: 1rem;
  }
  .footer-contact-option {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .footer-contact-icon {
    display: none;
  }
}
